/* Formatando a index */

html {
    font-size: var(--font-size);
}

/* Reset configurações aplicadas pelo browser */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-size: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    width: 35%;
}

.menu-itens {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

/* Menu header */
.item {
    text-decoration: none;
    padding: 10px;
    display: block;
    color: var(--cor-proclen-gray);
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.active {
    color: var(--cor-proclen-green-light);
}


/* .item:hover {
    background-color: aqua;
} */

.menu-itens li {
    margin: 1px;
}

.btn-green {
    background-color: var(--cor-proclen-green-light);
    border: transparent;
    color: var(--cor-proclen-white);
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.6rem;
}

.btn-green:hover {
    background-color: var(--cor-proclen-green-dark);
}

/* #item {
    color: rgb(61, 43, 226);
}

.item {
    color: rgb(255, 0, 0);
    text-decoration: none;
}

a {
    color: rgb(9, 168, 20);
} */




/* Pseudo class */
/* .item {
    color: rgb(221, 0, 255);
    text-decoration: none;
}

.item:hover {
    color: rgb(0, 21, 255);
    text-decoration: underline;
}

.item:active {
    color: rgb(68, 226, 0);
} */